@model IEnumerable<ExcellOnConsultingServices.InboundService>

@{
    ViewBag.Title = "InboundServices";
    Layout = "~/Views/Shared/adminlayout.cshtml";
}
<h2 class="text-center">InboundServices</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InboundID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cnic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InboundID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cnic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.InboundID }) |*@
            @*@Html.ActionLink("Details", "Details", new { id=item.InboundID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.InboundID })*@
        </td>
    </tr>
}

</table>
